<p>ICICI Lombard General Insurance Co Ltd (IRDAI Regn. No.: 115) &nbsp;&nbsp;&nbsp;&nbsp;CIN No. [     ]</p>
<h3>Master Policy Number:</h3>
<h3 style="align-items: center;">UIN: ICIPAGP21400V032021</h3>
<h3>Group Safeguard Insurance Policy Certificate</h3>

<p>On receipt of full premium (First Installment in case the customer has opted for Premium Instalment Clause option), Group Safeguard Insurance   < Individual Policy Certificate Number> dated <DD/MM/YYYY> has been issued at Mumbai, by ICICI Lombard General Insurance Company Limited to the Policyholder, Mr./Ms. <__________________> as specified in the Policy, and is governed by, and is subject to, the terms, conditions & exclusions therein contained or otherwise expressed in the said Policy.

The certificate issued to the customers/employees/members of ___________ bearing Master Policy No. <Master Policy Number> under the signature of an authorized signatory of ICICI Lombard General Insurance Company Limited, represents the availability of the Benefits under the Policy to the Insured Person named below, subject to the terms, conditions and exclusions expressed in the said Policy, but not exceeding the Sum Insured as specified below.</p>

<h3>(PART I OF THE SCHEDULE)</h3>

<table class="">
    <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
    <tbody>
        <tr>
            <td>Policy Certificate Number: </td>
            <td>Master Policy Number: </td>
            <td>Issued At:  </td>
        </tr>
    </tbody>
</table>